#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  color: #fff !important;
}

a:hover {
  color: chartreuse !important;
}
